<app-header
  [icon]="'close-outline'"
  [title]="'MYACCOUNT.ADD_EXPERIENCE_TITLE' | translate"
  (iconClick)="closeModal()"
></app-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-card
      [cardHeader]="true"
      [cardTitle]="'MYACCOUNT.WORKPLACE_EXPERIENCE_TITLE' | translate"
      [cardSubtitle]="'MYACCOUNT.WORKPLACE_EXPERIENCE_DESC' | translate"
      [cardContent]="true"
    >
      <app-input
        card-content
        [startIcon]="'shield-checkmark-outline'"
        [type]="'text'"
        [label]="'MYACCOUNT.WORKPLACE' | translate"
        [labelPosition]="'stacked'"
        [placeholder]="'Pi work company'"
        [control]="getControl('workplaceName')"
      >
      </app-input
    ></app-card>

    <app-card
      [cardHeader]="true"
      [cardTitle]="'MYACCOUNT.EXPERIENCE_DESC_TITLE' | translate"
      [cardSubtitle]="'MYACCOUNT.EXPERIENCE_DESC_DESC' | translate"
      [cardContent]="true"
    >
      <app-textarea
        card-content
        [startIcon]="'chatbox-outline'"
        [placeholder]="'Your role'"
        [control]="getControl('description')"
      >
      </app-textarea>
    </app-card>

    <app-button
      [type]="'submit'"
      [expand]="'block'"
      [color]="'light'"
      [text]="'MYACCOUNT.ADD_EXPERIENCE_BTN' | translate"
    ></app-button>
  </form>
</ion-content>
