<app-card
  [cardHeader]="true"
  [cardContent]="true"
  [cardTitle]="job.title"
  [cardSubtitle]="job.priceAmount.toFixed(2) | currency: 'EUR'"
  (click)="onJobItemClick()"
>
  <div card-content>
    <app-information-item
      [text]="job.description | truncate: [30, '...']"
      [icon]="'information-circle-outline'"
    ></app-information-item>

    <app-information-item
      [text]="job.insertDate | date"
      [icon]="'calendar-outline'"
    ></app-information-item>

    <app-chip-information-item
      [icon]="'megaphone-outline'"
      [chipLabel]="job.isActive ? 'Active' : 'No active'"
      [chipBorderColor]="job.isActive ? 'success' : 'danger'"
    ></app-chip-information-item>
  </div>
</app-card>
