<app-header
  [icon]="'close-outline'"
  [title]="'MYACCOUNT.ADD_USER_SKILLS_HEADER_TITLE' | translate"
  (iconClick)="closeModal()"
></app-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-card
      *ngIf="skills"
      [cardHeader]="true"
      [cardTitle]="'Skills'"
      [cardSubtitle]="'MYACCOUNT.ADD_SKILS_DESCRIPTION' | translate"
      [cardContent]="true"
    >
      <app-select
        card-content
        [icon]="'hammer-outline'"
        [description]="'MYACCOUNT.SKILLS' | translate"
        [control]="getControl('skillId')"
        [data]="skills"
      ></app-select
    ></app-card>

    <app-button
      [type]="'submit'"
      [expand]="'block'"
      [color]="'light'"
      [text]="'MYACCOUNT.ADD_SKILLS_BTN' | translate"
    ></app-button>
  </form>
</ion-content>
