<app-header
  [icon]="'close-outline'"
  [title]="'Add new skill'"
  (iconClick)="closeModal()"
></app-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-card
      *ngIf="skills"
      [cardHeader]="true"
      [cardTitle]="'Skills'"
      [cardSubtitle]="'Select skill to insert in your card account'"
      [cardContent]="true"
    >
      <app-select
        card-content
        [icon]="'hammer-outline'"
        [description]="'Skill'"
        [control]="getControl('skillId')"
        [data]="skills"
      ></app-select
    ></app-card>

    <app-button
      [type]="'submit'"
      [expand]="'block'"
      [color]="'light'"
      [text]="'CREATE'"
    ></app-button>
  </form>
</ion-content>
