<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="jobs">
      <ion-icon name="reader"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="applications">
      <ion-icon name="list-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="announce-job">
      <ion-icon name="add-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="my-account">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
