<app-loading *ngIf="isUserLoading"></app-loading>

<ion-tabs *ngIf="!isUserLoading">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="jobs">
      <ion-icon name="reader"></ion-icon>
      <ion-label>{{'APP.JOBS_MODULE' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="applications">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>{{'APP.APPLICATIONS_MODULE' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="announce-job" *accessRole="'Recruiter'">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>{{'APP.ANNOUCE_MODULE' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>{{'APP.NOTIFICATIONS_MODULE' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-account">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'APP.MYACCOUNT_MODULE' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
