<app-card
  [cardHeader]="true"
  [cardContent]="true"
  routerLink="/applications/{{ application.id }}"
>
  <div card-header>
    <app-item [lines]="'none'">
      <app-label>
        <h2>{{ application.jobTitle }}</h2>
        <p>{{ application.insertDate | date }}</p>
      </app-label>
    </app-item>
  </div>

  <div card-content>
    <app-chip-information-item
      [icon]="'locate-outline'"
      [chipLabel]="application.jobApplicationPhaseId"
      [chipBorderColor]="'warning'"
    ></app-chip-information-item>

    <app-chip-information-item
      [icon]="'document-attach-outline'"
      [chipLabel]="
        application.applicantFirstName + ' ' + application.applicantLastName
      "
    ></app-chip-information-item>

    <app-chip-information-item
      [icon]="'megaphone-outline'"
      [chipLabel]="application.isActive ? 'Active' : 'No active'"
      [chipBorderColor]="application.isActive ? 'success' : 'danger'"
    ></app-chip-information-item>
  </div>
</app-card>
