<ion-content class="register-container">
  <div class="login-logo">
    <img src="../../../../assets/images/loginRegister.png" alt="Ionic logo" />
  </div>

  <app-login-form *ngIf="authenticationMethod === 'login'"></app-login-form>

  <app-register-form
    *ngIf="authenticationMethod === 'register'"
  ></app-register-form>

  <app-card>
    <app-button
      body
      [type]="'button'"
      [text]="
        authenticationMethod === 'login'
          ? ('ACCOUNT.REGISTER_INSTEAD' | translate)
          : ('ACCOUNT.LOGIN_INSTEAD' | translate)
      "
      [color]="'light'"
      [expand]="'block'"
      (clickOut)="onChangeAuthenticationMethod()"
    >
    </app-button>
  </app-card>
</ion-content>
