<ion-content class="register-container">
  <div class="form-container">
    <app-login-form *ngIf="authenticationMethod === 'login'"></app-login-form>

    <app-register-form
      *ngIf="authenticationMethod === 'register'"
    ></app-register-form>

    <app-button
      [type]="'button'"
      [text]="authenticationMethod === 'login' ? 'Register instead' : 'Login instead'"
      [color]="'light'"
      [expand]="'block'"
      (clickOut)="onChangeAuthenticationMethod()"
    >
    </app-button>
  </div>
</ion-content>
