<form [formGroup]="announceJobForm" (ngSubmit)="onSubmit()">
  <!-- title, description -->
  <app-card
    [cardHeader]="true"
    [cardTitle]="'ANNOUNCE_JOB.BASIC_INFORMATION_TITLE' | translate"
    [cardSubtitle]="'ANNOUNCE_JOB.BASIC_INFORMATION_DESC' | translate"
    [cardContent]="true"
  >
    <div card-content>
      <app-input
        [startIcon]="'shield-checkmark-outline'"
        [type]="'text'"
        [label]="'ANNOUNCE_JOB.TITLE' | translate"
        [labelPosition]="'stacked'"
        [placeholder]="'Software dev...'"
        [control]="getControl('title')"
      >
      </app-input>

      <app-textarea
        [startIcon]="'chatbox-outline'"
        [placeholder]="'Looking for...'"
        [control]="getControl('description')"
      >
      </app-textarea></div
  ></app-card>

  <!-- price, estimated time and more -->
  <app-card
    [cardHeader]="true"
    [cardTitle]="'ANNOUNCE_JOB.MORE_INFORMATION_TITLE' | translate"
    [cardSubtitle]="'ANNOUNCE_JOB.MORE_INFORMATION_DESC' | translate"
    [cardContent]="true"
  >
    <div card-content>
      <app-input
        [startIcon]="'hourglass-outline'"
        [type]="'number'"
        [label]="'ANNOUNCE_JOB.ESTIMATED_DAYS' | translate"
        [labelPosition]="'stacked'"
        [placeholder]="'0'"
        [control]="getControl('estimatedDays')"
      >
      </app-input>

      <app-input
        [startIcon]="'cash-outline'"
        [type]="'number'"
        [label]="'ANNOUNCE_JOB.PRICE_AMOUNT' | translate"
        [labelPosition]="'stacked'"
        [placeholder]="'0' | currency: 'EUR'"
        [control]="getControl('priceAmount')"
      >
      </app-input>
    </div>
  </app-card>

  <!-- source code -->
  <app-card
    [cardHeader]="true"
    [cardTitle]="'ANNOUNCE_JOB.CODE_LOCATION_TITLE' | translate"
    [cardSubtitle]="'ANNOUNCE_JOB.CODE_LOCATION_DESC' | translate"
    [cardContent]="true"
  >
    <app-input
      card-content
      [startIcon]="'code-slash-outline'"
      [type]="'text'"
      [label]="'ANNOUNCE_JOB.SOURCE_CODE_LINK' | translate"
      [labelPosition]="'stacked'"
      [placeholder]="'github.com'"
      [control]="getControl('sourceCodeLink')"
    >
    </app-input>
  </app-card>

  <!-- skills -->
  <app-card
    [cardHeader]="true"
    [cardTitle]="'ANNOUNCE_JOB.SKILLS_INFO_TITLE' | translate"
    [cardSubtitle]="'ANNOUNCE_JOB.SKILLS_INFO_DESC' | translate"
    [cardContent]="true"
  >
    <div card-content>
      <ion-item lines="none">
        <ion-icon slot="start" name="hammer-outline"></ion-icon>
        <ion-label position="stacked">{{
          "MYACCOUNT.SKILLS" | translate
        }}</ion-label>
        <ion-select
          selectedText="Choose"
          multiple="true"
          (ionChange)="onSkillsSelect($event)"
        >
          <ion-select-option *ngFor="let s of skills" [value]="s.id">{{
            s.name
          }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="ion-padding">
        <ion-chip *ngFor="let s of choosedSkills" color="medium">
          <ion-avatar>
            <img [src]="fileBaseUrl + s.icon" />
          </ion-avatar>
          <ion-label>{{ s.name }}</ion-label>
        </ion-chip>
      </div>
    </div>
  </app-card>

  <!-- contact email -->
  <app-card
    [cardHeader]="true"
    [cardTitle]="'ANNOUNCE_JOB.CONTACT_EMAIL_TITLE' | translate"
    [cardSubtitle]="'ANNOUNCE_JOB.CONTACT_EMAIL_DESC' | translate"
    [cardContent]="true"
  >
    <app-input
      card-content
      [startIcon]="'mail-outline'"
      [type]="'text'"
      [label]="'ANNOUNCE_JOB.CONTACT_EMAIL_LABEL' | translate"
      [labelPosition]="'stacked'"
      [placeholder]="'email@outlook.com'"
      [control]="getControl('contactEmail')"
    >
    </app-input>
  </app-card>

  <app-button
    *ngIf="!createJobLoading"
    [type]="'submit'"
    [text]="'ANNOUNCE_JOB.ANNOUNCE_JOB_BTN' | translate"
    [color]="'primary'"
    [expand]="'block'"
  >
  </app-button>
  <app-loading *ngIf="createJobLoading"></app-loading>
</form>
