<ion-content>
  <app-loading *ngIf="isLoading"></app-loading>

  <app-no-data *ngIf="!isLoading && !jobDetails"></app-no-data>

  <div *ngIf="!isLoading && jobDetails">
    <!--  -->
    <div>
      <p>{{ jobDetails.id }}</p>
      <p>{{ jobDetails.title }}</p>
      <p>{{ jobDetails.description }}</p>
      <p>{{ jobDetails.sourceCodeLink }}</p>
      <p>{{ jobDetails.estimatedDays }}</p>
      <p>{{ jobDetails.contactEmail }}</p>
      <p>{{ jobDetails.publishedByUserId }}</p>
      <p>{{ jobDetails.publishedByUserFirstName }}</p>
      <p>{{ jobDetails.publishedByUserLastName }}</p>
      <p>{{ jobDetails.priceAmount }}</p>
      <p>{{ jobDetails.isActive }}</p>
      <!-- <p>{{ jobDetails.jobTechnologies}}</p>
      <p>{{ jobDetails.jobFields }}</p> -->
    </div>
  </div>
</ion-content>
