<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-card [cardContent]="true">
    <div card-content>
      <app-input
        [startIcon]="'mail-outline'"
        [type]="'email'"
        [label]="'ACCOUNT.EMAIL' | translate"
        [labelPosition]="'stacked'"
        [placeholder]="'email@email.com'"
        [control]="getControl('email')"
      >
      </app-input>

      <app-input
        [startIcon]="'shield-checkmark-outline'"
        [type]="'password'"
        [label]="'ACCOUNT.PASSWORD' | translate"
        [labelPosition]="'stacked'"
        [placeholder]="'************'"
        [control]="getControl('password')"
      >
      </app-input>
    </div>
  </app-card>

  <app-card>
    <div body>
      <app-button
        [disabled]="loginForm.invalid"
        *ngIf="!isLoading"
        [type]="'submit'"
        [text]="'ACCOUNT.LOGIN' | translate"
        [color]="'primary'"
        [expand]="'block'"
      >
      </app-button>
      <app-loading *ngIf="isLoading"></app-loading>
    </div>
  </app-card>
</form>
