<ion-content>
  <app-loading *ngIf="isLoading"></app-loading>

  <app-no-data *ngIf="!isLoading && !jobApplicationDetails"></app-no-data>

  <div *ngIf="!isLoading && jobApplicationDetails">
    <!-- img -->
    <div class="about-header">
      <img [src]="fileBaseUrl + jobApplicationDetails.publisherProfilePic" />
    </div>

    <div class="about-info">
      <!-- title -->
      <h3 class="ion-padding-top ion-padding-start">
        {{ jobApplicationDetails.jobTitle }}
      </h3>

      <!-- description -->
      <p class="ion-padding-start ion-padding-end">
        {{ jobApplicationDetails.jobDescription }}
      </p>

      <!-- phase & is active & insertDate -->
      <h3 class="ion-padding-top ion-padding-start">
        {{ "APPLICATIONS.APPLICATION_DETAILS_TITLE" | translate }}
      </h3>
      <app-information-item
        [text]="jobApplicationDetails.insertDate | date"
        [icon]="'calendar-outline'"
      ></app-information-item>

      <app-chip-information-item
        [icon]="'locate-outline'"
        [chipLabel]="jobApplicationDetails.jobApplicationPhaseId"
        [chipBorderColor]="'warning'"
      ></app-chip-information-item>

      <app-chip-information-item
        [icon]="'megaphone-outline'"
        [chipLabel]="jobApplicationDetails.isActive ? 'Active' : 'No active'"
        [chipBorderColor]="
          jobApplicationDetails.isActive ? 'success' : 'danger'
        "
      ></app-chip-information-item>

      <!-- application information -->
      <h3 *accessRole="'Recruiter'" class="ion-padding-top ion-padding-start">
        {{ "APPLICATIONS.APPLICANT_INFO" | translate }}
      </h3>
      <app-text-information-item
        *accessRole="'Recruiter'"
        [icon]="'document-attach-outline'"
        [title]="
          jobApplicationDetails.applicantFirstName +
          ' ' +
          jobApplicationDetails.applicantLastName
        "
        [subtitle]="'APPLICATIONS.SHOW_ACCOUNT_INFO_BTN' | translate"
        (itemClick$)="onApplicantDetailsClick()"
      ></app-text-information-item>

      <!-- comment -->
      <h3 class="ion-padding-top ion-padding-start">
        {{ "APPLICATIONS.COMMENT" | translate }}
      </h3>
      <p class="ion-padding-start ion-padding-end">
        {{ jobApplicationDetails.comment }}
      </p>

      <div *ngIf="jobApplicationDetails.isActive">
        <app-button
          *accessRole="'Seeker'"
          [fill]="'clear'"
          [expand]="'block'"
          [color]="'danger'"
          (clickOut)="onDeleteJobApplication()"
          [text]="'APPLICATIONS.DELETE_JOB_APPLICATION_BTN' | translate"
        ></app-button>

        <app-button
          *accessRole="'Recruiter'"
          [fill]="'clear'"
          [expand]="'block'"
          [color]="'primary'"
          (clickOut)="onSelectWinnerApplication()"
          [text]="'APPLICATIONS.SELECT_BEST_CANDIDATE' | translate"
        ></app-button>
      </div>

      <div *ngIf="!jobApplicationDetails.isActive">
        <app-input
          *accessRole="'Recruiter'"
          [type]="'text'"
          [label]="'APPLICATIONS.EMPLOYER_COMMENT' | translate"
          [labelPosition]="'stacked'"
          [placeholder]="'He/she is an excelent dev..'"
          (inputedTextOut)="employerComment = $event"
        >
        </app-input>

        <app-button
          *accessRole="'Recruiter'"
          [fill]="'clear'"
          [expand]="'block'"
          [color]="'primary'"
          (clickOut)="onAddEmployerComment()"
          [text]="'APPLICATIONS.ADD_EMPLOYER_COMMENT_BTN' | translate"
        ></app-button>
      </div>
    </div>
  </div>
</ion-content>
