<ion-card>
  <!-- card header -->
  <ion-card-header *ngIf="cardHeader">
    <ion-card-subtitle *ngIf="cardSubtitle">{{cardSubtitle}}</ion-card-subtitle>
    <ion-card-title *ngIf="cardTitle">{{cardTitle}}</ion-card-title>

    <ng-content select="[card-header]"></ng-content>
  </ion-card-header>

  <!-- body -->
  <ng-content select="[body]"></ng-content>

  <!-- card content -->
  <ion-card-content *ngIf="cardContent">
    <ng-content select="[card-content]"></ng-content>
  </ion-card-content>


</ion-card>
