<h3 class="ion-padding-top ion-padding-start">Tasks</h3>
<div *ngIf="jobs?.length > 0">
  <ion-item detail="false" button="true" *ngFor="let j of jobs" (click)="onShowDetails(j)">
    <ion-icon name="git-pull-request-outline"></ion-icon>
    <ion-label>
      <p>{{ j.jobTitle }}</p>
      <p>{{ j.employerComment | truncate: [15, "..."] }}</p>
    </ion-label>
    <ion-note slot="end">{{ j.isActive ? "Active" : "Unactive" }}</ion-note>
  </ion-item>
</div>

<app-no-data *ngIf="jobs?.length < 1"></app-no-data>
