<app-card
  [cardHeader]="true"
  [cardContent]="true"
  [cardTitle]="job.title"
  [cardSubtitle]="job.priceAmount.toFixed(2) | currency: 'EUR'"
  routerLink="/jobs/{{ job.id }}"
>
  <div before-header>
    <img [src]="'http://localhost:3000/files/' + job.picture" />
  </div>

  <div card-content>
    <app-information-item
      [text]="job.insertDate | date"
      [icon]="'calendar-outline'"
    ></app-information-item>

    <app-chip-information-item
      [icon]="'megaphone-outline'"
      [chipLabel]="job.isActive ? 'Active' : 'No active'"
      [chipBorderColor]="job.isActive ? 'success' : 'danger'"
    ></app-chip-information-item>
  </div>
</app-card>
