<app-card
  [cardHeader]="true"
  [cardContent]="true"
  [cardTitle]="job.title"
  [cardSubtitle]="job.priceAmount.toFixed(2) | currency: 'EUR'"
  routerLink="/jobs/{{ job.id }}"
>
  <div before-header>
    <img [src]="'http://localhost:3000/files/' + job.picture" />
  </div>

  <div card-content>
    <app-information-item
      [text]="job.insertDate | date"
      [icon]="'calendar-outline'"
    ></app-information-item>

    <app-item [lines]="'none'">
      <ion-icon slot="start" name="megaphone-outline"></ion-icon>
      <app-chip
        [label]="job.isActive ? 'Active' : 'No active'"
        [borderColor]="job.isActive ? 'success' : 'danger'"
      ></app-chip>
    </app-item>
  </div>
</app-card>
